{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background-color: #C71E1E;">
    <div id="autito" onmouseover="mover()" onmouseout="posIni()">
    <img src='{% static "/images/autito logo.png" %}' alt="Autito">
  </div>
  <img src="{% static '/images/logo.png' %}">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quienes-somos">Quiénes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contáctanos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/arreglos-motor">Arreglos de motor</a></li>
              <li><a class="dropdown-item" href="/arreglo-transmision">Arreglos de transmisión</a></li>
              <li><a class="dropdown-item" href="/arreglo-frenos">Arreglos de frenos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
            <a class="nav-link" href="/login">Iniciar sesión</a>  
            {% endif %}
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="/lista_formularios">Mis solicitudes</a>
            {% endif %}            
          </li>
        </ul>
      </div>
    </div>
  </nav>