<!DOCTYPE html>
<html>
<head>
  {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'assets/css/estilo.css' %}">
    <title>Carrito</title>
</head>
<body>
  <header>
    {% include 'RayoMacween/header.html' %}
  </header>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <div class="container-fluid custom-container">
    <h2>Carrito de compras</h2>
    <h3>Total del Carrito: <span id="total-carrito">$0</span></h3>
  </div>

  {% if carrito_productos %}
  {% for producto in carrito_productos %}
  <div class="producto" data-producto-id="{{ producto.id }}" style="margin: 20px; border: 1px solid #ccc; border-radius: 5px; overflow: hidden; box-shadow: 0 2px 5px rgba(0,0,0,0.1); background-color: #e73d3d;">
      <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
          <div style="flex: 50%; min-width: 250px; padding: 0; margin: 0;">
              <img src="{{ producto.imagen.url }}" style="width: 100%; height: auto; display: block;" alt="{{ producto.nombre }}">
          </div>
          <div style="flex: 50%; min-width: 250px; padding: 20px;">
              <h2 style="margin: 0 0 10px 0; color: white;">{{ producto.nombre }}</h2>
              <p style="color: #fff; font-size: 16px;">{{ producto.descripcion }}</p>
              <p style="color: white;">Cantidad: <input type="number" class="cantidad-producto" value="{{ producto.cantidad }}" min="1" style="width: 60px;"></p>
              <p style="text-align: center; font-size: 20px; font-weight: bold; color: white;">${{ producto.precio }}</p>
              <button class="btn btn-primary actualizar-producto">Actualizar</button>
              <button class="btn btn-danger eliminar-producto">Eliminar</button>
          </div>
      </div>
  </div>
  {% endfor %}
  {% else %}
      <div style="margin-top: 30px; padding: 20px; text-align: center; background-color: #e73d3d; border: 1px solid #d63333; border-radius: 5px;">
          <div style="font-size: 18px; color: white;">
              Tu carrito de compras está vacío.
          </div>
      </div>
  {% endif %}

  <script>
      $(document).ready(function() {
        $('.actualizar-producto').on('click', function() {
            var divProducto = $(this).closest('.producto');
            var productoId = divProducto.data('producto-id');
            var cantidad = divProducto.find('.cantidad-producto').val();

            $.ajax({
                url: '{% url 'carrito_update' %}',
                type: 'POST',
                data: {
                    producto_id: productoId,
                    cantidad: cantidad,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'update'
                },
                success: function(response) {
                    console.log('Carrito actualizado');
                    $('#total-carrito').text('$' + response.total_price);
                    alert('Cantidad actualizada');
                },
                error: function() {
                    alert('Error al actualizar el carrito');
                }
            });
        });

        $('.eliminar-producto').on('click', function() {
            var divProducto = $(this).closest('.producto');
            var productoId = divProducto.data('producto-id');

            $.ajax({
                url: '{% url 'carrito_delete' %}',
                type: 'POST',
                data: {
                    producto_id: productoId,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'delete'
                },
                success: function(response) {
                    console.log('Producto eliminado');
                    divProducto.remove();
                    $('#total-carrito').text('$' + response.total_price);
                },
                error: function() {
                    alert('Error al eliminar el producto');
                }
            });
        });
    });
  </script>

  <footer>
    {% include 'RayoMacween/footer.html' %}
  </footer>
  <script src = "{% static 'assets/js/script.js' %}"></script>
</body>
</html>
